body {
  background-color: whitesmoke;
  font-family: "Courier New", Courier, monospace;
  margin: 0;
}

.hero {
  height: 100vh;
  font-size: smaller;
}

navbar {
  display: flex;
  background-color: rgba(112, 71, 112, 0.863);
  justify-content: space-between;
  height: 12vh;
  width: 100%;
}

.logo {
  height: fit-content;
}

ul {
  display: flex;
  list-style-type: none;
  width: 500px;
  justify-content: space-evenly;
  font-size: 20px;
  font-weight: bold;
  height: fit-content;
}

ul.show {
  display: block;
  background-color: rgb(7, 58, 69);
  height: 15.5vh;
  width: 100%;
  height: fit-content;
}

@media (max-width: 481px) {
  ul {
    display: none;
    padding-left: 0px;
  }
}

li {
  text-decoration: none;
}

li:hover {
  text-decoration: underline;
}

@media (max-width: 481px) {
  li {
    display: block;
    margin-bottom: 5px;
    justify-content: flex-start;
    padding-left: 50px;
    background-color: rgba(112, 71, 112, 0.863);
  }
}

.hamburguer {
  display: none;
}

.hamburguer:focus {
  outline: 0;
}

@media (max-width: 481px) {
  .hamburguer {
    display: block;
    border: 0;
    background-color: transparent;
    color: black;
  }
}

.herotext {
  padding: 0px;
  padding-bottom: 5px;
  margin-top: 0px;
  margin-left: 20px;
  font-size: medium;
  display: flex;
  height: 90vh;
  justify-content: space-between;
  align-items: center;
  width: 93%;
}

.heroarea {
  padding-top: 20 px;
  width: 80%;
}

h1 {
  text-align: justify;
  font-size: 40px;
  font-weight: bolder;
  margin: 0px;
  color: black;
}

@media (min-width: 481px) and (max-width: 1024px) {
  h1 {
    font-size: 25px;
  }
}

.button {
  background-color: rgb(48, 124, 144);
  height: 40px;
  width: 100px;
  border-radius: 5px;
  border: 0ch;
  text-align: center;
  font-weight: bolder;
  margin-top: 20px;
  font-family: "Courier New", Courier, monospace;
}

.button:hover {
  background-color: rgba(112, 71, 112, 0.863);
}

@media (min-width: 481px) and (max-width: 1024px) {
  .button {
    margin-top: 0px;
    height: 15%;
    width: 25%;
  }
}

.social {
  flex-direction: column;
  display: flex;
  top: 60%;
}

#darkmode {
  margin: 0;
  padding: 0;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border-color: transparent;
  justify-content: flex-end;
  top: 24%;
  position: absolute;
}

h2 {
  font-size: larger;
  padding: 0;
  margin-bottom: 15px;
  margin-top: 15px;
  justify-content: flex-end;
  align-items: center;
}

#about-me {
  height: 90vh;
  margin-left: 20px;
}

.aboutMe {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 15px;
  font-size: large;
  font-weight: 700;
  height: 100vh;
}

.profilePic {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pic {
  padding-right: 5px;
}

#my-projects {
  height: 100%;
}

.project-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

@media (min-width: 481px) and (max-width: 1281px) {
  .project-container {
    flex-direction: row;
    width: 60%;
    height: 60%;
  }
}

.sub-section {
  height: 45.5vh;
}

@media (min-width: 481px) and (max-width: 1024px) {
  .sub-section {
    height: 100%;
  }
}

.projects {
  height: 90vh;
  padding-top: 40px;
}

@media (min-width: 481px) and (max-width: 1281px) {
  .projects {
    height: 100vh;
    padding-top: 10px;
  }
}

h4 {
  text-align: center;
  font-size: xx-large;
  font-weight: bolder;
  margin-bottom: 6%;
  margin-top: 0;
}

.project-card {
  height: 50%;
  width: 60%;
  justify-content: center;
  align-items: center;
  margin-left: 1.5px;
  margin-right: 1.5px;
  font-size: large;
  border: 2px solid;
  margin-bottom: 10px;
  margin-top: 10px;
  flex-direction: column;
  display: flex;
}

@media (min-width: 481px) and (max-width: 1024px) {
  .project-card {
    margin-left: 15px;
    margin-right: 15px;
    flex-direction: row;
    font-size: small;
    width: 65%;
  }
}

.second {
  font-size: 35px;
  margin-left: 52px;
  margin-bottom: 20px;
  justify-content: center;
  font-weight: bolder;
}

.card1 {
  margin-left: 10px;
  margin-right: 10px;
  height: 140px;
  font-size: medium;
  text-align: center;
  padding: 0;
  margin-bottom: 5px;
  max-width: fit-content;
}

@media (min-width: 481px) and (max-width: 1024px) {
  .project-card {
    margin-left: 15px;
    margin-right: 15px;
    flex-direction: row;
    font-size: small;
    width: 65%;
  }
}

.text {
  margin-bottom: 15px;
  margin-top: 30px;
  font-size: large;
}

.card1:hover {
  background-image: url(./src/HPgame.PNG);
  background-size: 100%;
  height: fit-content;
  width: fit-content;
  color: transparent;
  margin-left: 5px;
  margin-right: 5px;
  height: 120px;
  margin-bottom: 5px;
}

.card2 {
  margin-left: 10px;
  margin-right: 10px;
  height: 135px;
  font-size: medium;
  text-align: center;
  padding: 0;
  margin-bottom: 5px;
}

.card2:hover {
  background-image: url(./src/tswpic.PNG);
  background-size: 100%;
  height: fit-content;
  width: fit-content;
  color: transparent;
  margin-left: 5px;
  margin-right: 5px;
  height: 100px;
  margin-bottom: 5px;
}

.card3 {
  margin-left: 10px;
  margin-right: 10px;
  height: 135px;
  font-size: medium;
  text-align: center;
  padding: 0;
  margin-bottom: 5px;
}

.card3:hover {
  background-image: url(./src/tranquili_tea_pic.PNG);
  background-size: 100%;
  height: fit-content;
  width: fit-content;
  color: transparent;
  margin-left: 5px;
  margin-right: 5px;
  height: 105px;
  margin-bottom: 5px;
}

.h5 {
  margin: 2px;
  margin-top: 5px;
  margin-bottom: 4px;
  padding: 0;
  font-size: large;
  font-weight: bolder;
}

.Link1 {
  color: rgba(112, 71, 112, 0.863);
  text-decoration: none;
  font-size: medium;
  margin-bottom: 15px;
}

.footerText {
  text-align: center;
  font-size: small;
  padding-top: 8.5px;
  padding-bottom: 8px;
}

footer {
  background: rgba(112, 71, 112, 0.863);
  bottom: 0;
  width: 100%;
  margin-top: 30px;
  height: 10%;
  font-weight: bold;
}

@media (min-width: 481px) and (max-width: 1024px) {
  footer {
    height: 10%;
  }
}

a {
  text-decoration: none;
  color: black;
}

.dark {
  color: black;
  background-color: rgba(6, 43, 51, 0.805);
}
