body {
    background-color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
}

.hero {
    background: whitesmoke;
    height : 90vh;
    color : rgb(2, 32, 39);
    font-size: 40px;
}

footer {
    background: lightsteelblue;
    height: 60px;
}

navbar {
display: flex;
background-color: lightsteelblue;
justify-content: space-between;
color: rgb(0, 0, 0);
height: 90px;
}

.logo {
    height: fit-content;
}

ul {
    display: flex;
    list-style-type: none;
    width: 600px;
    justify-content: space-around;
    font-size: 20px;
    font-weight:bold;
}

li {
    text-decoration: none;
}

.herotext {
    padding-top: 0px;
    padding-bottom: 5px;
    margin-bottom: 0px;
    margin-left: 50px;
    font-size: x-large;
    display: flex;
    height: 80%;
    justify-content: space-between;
    align-items: center;
}

.heroarea {
margin:0 px;
padding: 0 px;
}

h1 {
    justify-content: center;
    font-size: 70px;
    font-weight: bolder;
    margin: 0px;
}

button {
background-color:coral;
height: 40px;
width: 100px;
border-radius: 5px;
text-align: center;
font-weight:bolder;
font-family: 'Courier New', Courier, monospace;
}

button:hover {
background-color: lightseagreen; 
}

.social {
    flex-direction: column;
    display: flex;
    margin-right: 15px;
}

h2 {
    font-size: 35px;
    padding: 0;
    margin: 0;
}

.sub-section{
    display:flex;
    justify-content: space-around;
    padding: 60px;
    /* margin-top: 100px; */
}

.info {
    margin-top: 10px;
    margin-right: 15px;
}

.profile {
    height: 130px;
    width: 130px;
    border-radius: 50%;
    margin-left: 5px;
}

.project-container {
    display: flex;
}
 
.sub-section {
    height: 230px;
    background: rgb(185, 223, 185)
}

.projects {
    height:350px;
    background-color: whitesmoke;
    padding-top: 40px;
}

.project-card{
    height: 250px;
    width: 75%;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: x-large;
    display: flex;
    border: 2px solid;
}

.second{
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
}