body {
    background-color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
}

section {
    height: 500px;
    background: yellowgreen;    
}

.hero {
    background: whitesmoke;
    height : 100vh;
    color : rgb(2, 32, 39);
    font-size: 40px;
}

footer {
    background: gray;
    height: 500 px;
}

navbar {
display: flex;
background-color: lightseagreen;
justify-content: space-between;
color: rgb(0, 0, 0);
/* margin-bottom: 15px; */ 
}

ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 25px;
    font-weight:bold;
}

li {
    text-decoration: none;
}

.herotext {
    margin-left: 100px;
    font-size: x-large;
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.heroarea {
margin:0 px;
}

h1 {
    justify-content: center;
    font-size: 70px;
    font-weight: bolder;
    margin: 0px;
}

button {
background-color:coral;
height: 40px;
width: 100px;
border-radius: 5px;
text-align: center;
font-weight:bolder;
font-family: 'Courier New', Courier, monospace;
}

button:hover {
background-color: lightseagreen; 
}

.social {
    flex-direction: column;
    display: flex;
    margin-right: 15px;
}

img {
    width: 70px;
    height: 70px;
}

.sub-section{
    display:flex;
    justify-content: space-around;
}

h2 {
    font-size: 45px;
}